# autotools
autom4te.cache/
config.h
compile*
config.status*
configure
depcomp*
install-sh*
missing*
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autoscan.log
config.h.in
config.log
stamp-h1
config.h.in~

# build
dumpexfat*
src/.deps
src/.dirstamp
src/*.o
