name: Code Coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, develop ]

jobs:
  gcov:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: setup environment
      run: |
        sudo apt-get update
        sudo apt-get install autoconf automake libtool help2man make expect exfat-fuse
    - name: automake
      run:  script/bootstrap.sh
    - name: configure
      run: ./configure --enable-gcov
    - name: build package
      run: make
    - name: run test
      run: make check
    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v3
      with:
        gcov: true
        fail_ci_if_error: true
        verbose: true

