name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, develop ]

jobs:
  static_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: pip install cpplint
    - run: cpplint --recursive --filter=-whitespace,-build,-readability .

  dynamic_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: setup environment
      run: |
        sudo apt-get update
        sudo apt-get install autoconf automake libtool make expect exfat-fuse
    - name: automake
      run:  script/bootstrap.sh
    - name: configure
      run: ./configure --enable-gcov
    - name: build package
      run: make
    - name: run test
      run: make check
    - name: confirm result
      run: cat tests/*.log
    - uses: actions/upload-artifact@v3
      with:
        name: artifact
        path: src/*.gc??
        retention-days: 1
    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v3
      with:
        gcov: true
        fail_ci_if_error: true
        verbose: true

